.conteudo {
    width: 100%;
    height: 100%;
    
}

.conteudo .ulContent { 
    padding: 0;
    width: 100%;
    margin-top: 50px;
}
.conteudo .ulContent .li {
    width: 210px;
    height: 160px;
    display: inline-block;
    border-radius: 4px;
    margin-right: 35px;
}

.conteudo .ulContent .liContent {
    width: 210px;
    height: 160px;
    display: inline-block;
    background: linear-gradient(125deg, #8D37FC, #3D96BC);
    border-radius: 4px;
    margin-left: 15px;
    position: absolute;
    z-index: 99;
}

.conteudo .ulContent .activedliContent {
    content: '';
    width: 205px;
    height: 160px;
    position: absolute;
    border: 2px solid #8D37FC;
    border-radius: 4px;
    z-index: 1;
    margin-top: 15px;
}

@media screen and ( max-width: 767px) {
    .conteudo .ulContent .liContent {
        width: 87%;
        height: 160px;
        display: block;
        background: linear-gradient(125deg, #8D37FC, #3D96BC);
        border-radius: 4px;
        margin-bottom: 15px;
        margin-left: 15px;
        position: absolute;
        z-index: 99;
    }
    
    .conteudo .ulContent .activedliContent {
        content: '';
        width: 87%;
        height: 160px;
        position: absolute;
        border: 2px solid #8D37FC;
        border-radius: 4px;
        z-index: 1;
        margin-top: 15px;
    }
    
}